In [42]:
import pandas as pd
import numpy as np
import pickle
from __future__ import division

In [29]:
enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

enron_df = pd.DataFrame.from_dict(enron_data, orient="index")
enron_df = enron_df.replace("NaN", np.nan)
enron_df.head()

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
ALLEN PHILLIP K,201955.0,2902.0,2869717.0,4484442.0,1729541.0,4175000.0,126027.0,1407.0,-126027.0,1729541.0,...,NaN,2195.0,152.0,65.0,False,NaN,-3081055.0,304805.0,phillip.allen@enron.com,47.0
BADUM JAMES P,NaN,NaN,178980.0,182466.0,257817.0,NaN,NaN,NaN,NaN,257817.0,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
BANNANTINE JAMES M,477.0,566.0,NaN,916197.0,4046157.0,NaN,1757552.0,465.0,-560222.0,5243487.0,...,NaN,29.0,864523.0,0.0,False,NaN,-5104.0,NaN,james.bannantine@enron.com,39.0
BAXTER JOHN C,267102.0,NaN,1295738.0,5634343.0,6680544.0,1200000.0,3942714.0,NaN,NaN,10623258.0,...,NaN,NaN,2660303.0,NaN,False,NaN,-1386055.0,1586055.0,NaN,NaN
BAY FRANKLIN R,239671.0,NaN,260455.0,827696.0,NaN,400000.0,145796.0,NaN,-82782.0,63014.0,...,NaN,NaN,69.0,NaN,False,NaN,-201641.0,NaN,frank.bay@enron.com,NaN

In [32]:
print(len(enron_df['salary'].dropna()))
print(len(enron_df['email_address'].dropna()))

95
111

How many people in the E+F dataset (as it currently exists) have “NaN” for their total payments? What percentage of people in the dataset as a whole is this?

In [37]:
len(enron_df['total_payments'].isna()) / enron_df.shape[0]

AttributeError: 'Series' object has no attribute 'isna'

In [44]:
print enron_df['total_payments'].isnull().sum()
print enron_df['total_payments'].isnull().sum() / enron_df.shape[0] * 100

21
14.3835616438

In [48]:
poi_payments = enron_df.loc[enron_df['poi'] == True, 'total_payments']
poi_payments.shape

(18,)